* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.362);
    height: 100%;
}

#nav {
    width: 100%;
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 1;
}

.logo {
    height: 20px;
}

.logo img {
    width: 100%;
    height: 60%;
    font-size: 20px;
    gap: 3px;

}

#navb a {
    margin: 0 10px;
    color: rgba(0, 0, 0, 0.998);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

#navc i {
    color: rgba(37, 36, 36, 0.927);
    font-size: 25px;
    margin-right: 5px;
    font-weight: 100;

}

.container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

.slider-wrap {
    display: flex;
    width: 200%;
    animation: slideAnimation 7s ease-in-out infinite;
}

.slide {
    position: relative;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    height: 72%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.slide h1 {
    position: absolute;
    top: 6%;
    left: 40%;
    transform: translate(-50% -50%);
    font-size: 70px;
    color: white;
}

.slide h3 {
    position: absolute;
    top: 18%;
    left: 42%;
    color: white;
}

.slide button {
    position: absolute;
    top: 26%;
    left: 33%;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100vw);
    }

    90% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}