* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.362);
    height: 100%;
}

#nav {
    width: 100%;
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.logo {
    height: 20px;
}

.logo img {
    width: 100%;
    height: 60%;
    font-size: 20px;
    gap: 3px;

}

#navb a {
    margin: 0 10px;
    color: rgba(0, 0, 0, 0.998);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

#navc i {
    color: rgba(37, 36, 36, 0.927);
    font-size: 25px;
    margin-right: 5px;
    font-weight: 100;

}

.image {
    width: 100%;
    height: 72%;
    position: relative;
    max-width: 100rem;
}

.slider-wrapper {
    position: relative;
    max-width: 100rem;
    max-width: 100rem;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

}

.image img {
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    scroll-snap-align: start;

}

.text1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    place-items: center;
}

.text1 h1 {
    font-size: 68px;
    color: white;
    font-weight: 600;
}

.text1 h3 {
    color: white;
    margin-left: 5px;
    margin-top: 7px;
    font-weight: 200;
}

.text2 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    place-items: center;
}

.text2 h1 {
    font-size: 68px;
    color: white;
    font-weight: 600;
}

.text2 h3 {
    color: white;
    margin-left: 5px;
    margin-top: 7px;
    font-weight: 200;
}